doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Christinas Webseite
    link(rel="stylesheet", href="/Style/style.css")
  body
    h1 Herzlich Wilkommen!
    img(src="https://www.the-center.org/getmedia/84020451-035c-43de-bbe5-721439477dde/Depositphotos_50124027_original.jpg.aspx", alt="")
div.box-container
      div.box.box1 Eat
      div.box.box2 Sleep
      div.box.box3 Repeat